<div class="container">
  <div class="row">
    <!--左側-->
    <div class="col-md-3">
      <%= render './left_contents', book: @book, user: @user %> <!--部分テンプレート呼出-->
    </div>
    <!--右側-->
    <div class="col-md-8">
      <h2>User</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <td><b>image</b></td>
            <td><b>name</b></td>
            <td></td>
          </tr>
        </thead>
        <% @users.each do |user| %>
        <tbody>
          <tr>
            <td>
              <%= image_tag user.get_profile_image(80,80) %>
            </td>
            <td>
              <%= user.name %>
            </td>
            <td><%= link_to "Show", user_path(user.id) %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>